{% extends 'layout.html.twig' %}

{% block content %}
<html>
<head>
    <title>Galix's Home Page</title>
    <meta charset = "utf-8">
    <link rel = "View/Home/layout.html.twig">
</head>
    <body>
        <div class="jumbotron text-center">
            <a class="btn btn-secondary btn-lg" href="/Join/index">
            <button type="button" class="btn btn-secondary btn-lg">JOIN US</button>
<<<<<<< HEAD
            </div>
            <div class = "map">
            <a href="/Join/index" >
            <img src="https://i.pinimg.com/originals/25/69/b1/2569b183fe2f1af40de20e58f113ba00.png" alt="ancient map of Gallia" height="500px" width="450px">
=======
>>>>>>> 5a06e8f568ac383eb15cb942e910fa1fa0c94b2f
            </a>
        </div>
        <div>
            <img src="https://i.pinimg.com/originals/25/69/b1/2569b183fe2f1af40de20e58f113ba00.png" alt="ancient map of Gallia" height="500px" width="450px">
        </div>
    </body>
</html>

{% endblock %}

{% block javascript %}
    <script>
        var counter = 10;
        var nextBattleCountdown = setInterval(function(){
        console.log(counter);
        counter--
        if (counter === 0) {
        console.log("HAPPY NEW WAR!!");
        clearInterval(nextBattleCountdown);
        }
        }, 1000);
    </script>
{% endblock %}
