{% extends 'layout.html.twig' %}

{% block content %}
    <p id="demo"></p>
        <div class="jumbotron text-center">
            <a class="btn btn-secondary btn-lg" href="/Join/index">
            <button type="button" class="btn btn-secondary btn-lg">JOIN US</button>
            </a>
        </div>
        <div id="map" class="center">
            <img src="https://i.pinimg.com/originals/25/69/b1/2569b183fe2f1af40de20e58f113ba00.png" alt="ancient map of Gallia height="500px" width="450px">
        </div>

    <p id="demo"></p>
{% endblock %}

{% block javascript %}
<script type="text/Javascript" src="/assets/js/script.js"></script>
{% endblock %}
